.overview {
  display: flex;
  align-items: center;

  border-bottom: var(--line);
}

.heading {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.25rem 3rem;
}
