.item {
  flex: 0 0 50%;
  margin-bottom: 0.7rem;
  display: flex;
  align-items: center;
}

.item::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  background-color: var(--color-primary);

  -webkit-mask-image: url(../../../../resources/icons/chevron-thin-right.svg);
  -webkit-mask-size: cover;
  -o-mask-image: url(../../../../resources/icons/chevron-thin-right.svg);
  -o-mask-size: cover;
  mask-image: url(../../../../resources/icons/chevron-thin-right.svg);
  mask-size: cover;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-primary);
  margin-right: 0.5rem;
}
